<nav>
  <a [routerLink]="['/bar']" routerLinkActive="active">bar</a>
  <a [routerLink]="['/bar2']" routerLinkActive="active">bar2</a>
  <a [routerLink]="['/horizontal-bar']" routerLinkActive="active">horizontal-bar</a>
</nav>
<router-outlet></router-outlet>

<h2>Lưu ý:</h2>
<p><span>ResizeObserver:</span> là chuẩn mới Browser từ 2018 để bắt event 'resize'</p>
<p>mỗi lần size change ta phải gọi <span>chart.resize()</span> để vẽ lại chart</p>

<h2>Guide:</h2>
<p>
  <a href="https://www.npmjs.com/package/echarts ">https://www.npmjs.com/package/echarts </a>
</p>
<p>
  <a href="https://echarts.apache.org/examples/en/">https://echarts.apache.org/examples/en/</a>
</p>
<p>
  <a href="https://echarts.apache.org/en/tutorial.html#Responsive%20Mobile-End"
    >https://echarts.apache.org/en/tutorial.html#Responsive%20Mobile-End</a
  >
</p>
<p>
  <a href="https://www.dlminternal.com/chart-echarts.html"
    >https://www.dlminternal.com/chart-echarts.html</a
  >
</p>
